<div>
  <div>
    <h1>
      List of all weeks
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new week
    </h2>

    <form action="/insert_week" method="post">
      <div>
        <label for="user_id_box">
          User
        </label>

        <input type="text" id="user_id_box" name="query_user_id">
      </div>

      <div>
        <label for="week_box">
          Week
        </label>

        <input type="text" id="week_box" name="query_week">
      </div>

      <button>
        Create week
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          ID
        </th>

        <th>
          User
        </th>

        <th>
          Week
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_weeks.each do |a_week| %>
      <tr>
        <td>
          <%= a_week.id %>
        </td>

        <td>
          <%= a_week.user_id %>
        </td>

        <td>
          <%= a_week.week %>
        </td>

        <td>
          <%= time_ago_in_words(a_week.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_week.updated_at) %> ago
        </td>

        <td>
          <a href="/weeks/<%= a_week.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
