<div>
  <div>
    <h1>
      Goal #<%= @the_goal.id %> details
    </h1>

    <div>
      <div>
        <a href="/goals">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_goal/<%= @the_goal.id %>">
          Delete goal
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Goal
      </dt>
      <dd>
        <%= @the_goal.goal %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_goal.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_goal.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Edit goal
    </h2>

    <form action="/modify_goal/<%= @the_goal.id %>"  method="post" >
      <div>
        <label for="goal_box">
          Goal
        </label>

        <input type="text" id="goal_box" name="query_goal" value="<%= @the_goal.goal %>">
      </div>

      <button>
        Update goal
      </button>
    </form>
  </div>
</div>

<hr>
